/* ================ */
/* = The 1Kb Grid = */     /* 10 columns, 80 pixels each, with 10 pixel gutter */
/* ================ */

/*
.grid_1 { width:80px; }
.grid_2 { width:170px; }
.grid_3 { width:200px; } // valor original: 260
.grid_7_meio { width:305px; }
.grid_4 { width:350px; }
.grid_5 { width:440px; }
.grid_6 { width:530px; }
.grid_7b { width:620px; }
.grid_7 { width:680px; } // valor original: 620
.grid_8 { width:710px; }
.grid_8b { width:750px; }
.grid_9 { width:800px; }
.grid_10 { width:890px; }
*/

.linha {
	width:900px;
	margin:0 auto 10px auto;
	overflow:hidden;
}
.coluna {
	margin:0 5px;
	overflow: hidden;
	float:left;
	display:inline;
}
.lateral {
	width:260px;
}
.principal {
	width:620px;
}
.total {
	width:890px;
}
.quadro {
	width:600px; /* valor alternativo: 639px */
}
/*
.linha .linha {
	margin:0 -5px;
	width:auto;
	display:inline-block;
}
*/
/*
.coluna_navegacao {
	margin:0 5px;
	float:left;
	display:inline
}

.linha_navegacao {
	width:900px;
	min-height:30px;
	max-height:60px;
	margin:0 auto 10px auto;
}

.linha_navegacao h3 {
	background-color:#666;
}
*/

